{% extends "layout_admin.html" %}

{% block content %}

    <div class="app-title">
        <div>
            <h1><i class="fa fa-archive"></i> Categorias</h1>
            <p>Visualização, edição e criação das categorias dos produtos</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Cadastro</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for ('.exibeCategoria') }}">Categorias</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{message[0]}}" role="alert">{{ message[1] }}</div>
            {% endfor %}
            <div class="tile">
                <form action="{{ url_for ('.addCategoria') }}"><button class="btn btn-primary"><i class="fa fa-fw fa-user"></i>Inserir nova categoria</button></form>
                <br /><br />
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="tabCad">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Exibe na WEB</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dados in data %}
                                <tr>
                                    <td>{{ dados[0] }}</td>
                                    <td>{{ dados[1] }}</td>
                                    <td>{{ dados[2] }}</td>
                                    <td>
                                        <form style="display: inline" action="{{ url_for ('.visCategoria', idCategoria = dados[0])}}"><button style="background-color: #4CAF50; border: none; border-radius: 25%;" title="Visualizar"><i class="fa fa-search" aria-hidden="true"></i></button></form>&nbsp;&nbsp;
                                        <form style="display: inline" action="{{ url_for ('.upCategoria', idCategoria=dados[0]) }}"><button style="background-color: #2196f3; border: none; border-radius: 25%;" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></form>&nbsp;&nbsp;
                                        <form style="display: inline; border: none;" action="{{ url_for ('.remCategoria', idCateg = dados[0]) }}"><button style="background-color: #ff0000; border: none; border-radius: 25%;" title="Remover"><i class="fa fa-times" aria-hidden="true"></i></button></form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

