{% extends "layout_admin.html" %}

{% block content %}


<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i> Adicionar</h1>
        <p>Adicionar nova categoria</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Cadastro</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for ('.exibeCategoria') }}">Categorias</a></li>
        <li class="breadcrumb-item"><a href="#">Adicionar Categorias</a></li>
    </ul>
</div>


   {% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{message[0]}}" role="alert">{{ message[1] }}</div>
    {% endfor %}

<div class="tile">
    <form class="form-horizontal" method="POST">

        <h3 class="tile-title">Categorias</h3>
        <br />
        <div class="tile-body">

            <div class="form-group row">
                <label class="control-label col-md-2">Nome</label>
                <div class="col-md-6">
                    <input class="form-control" name="categ" type="text" placeholder="Nome da categoria">
                </div>

                <label class="control-label col-md-2">Exibe na WEB</label>
                <div class="col-md-2">
                    <select class="form-control" name="exibeWEB">
                        <option selected value="True">SIM</option>
                        <option value="False">NÃO</option>
                    </select>
                </div>
            </div>



            <div class="tile-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <input class="btn btn-primary" type="submit" value="Adicionar" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}