{% extends "layout.html" %}

{% block content %}

<div class="app-title">
    <div>
        <h1><i class="fa fa-shopping-cart"></i> Checkout</h1>
        <p>Adicionar observação junto ao pedido</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('.home')}}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Checkout</a></li>
    </ul>
</div>

    {% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{message[0]}}" role="alert">{{ message[1] }}</div>
          {% endfor %}

<div class="tile">
    <form style="display: inline" method="POST">
        <div class="control-label col-md-12">
            <div class="card">
                <div class="card-header">
                    Observações
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <textarea class="form-control" name="OBS" rows="4" placeholder="Inserir observações"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="input-group-prepend">
            <div class="control-label col-md-2" style="text-align: center;">
                <button class="form-control" type="submit" name="btnConfirm" value="voltarDet">Voltar</button>
            </div>

            <div class="control-label col-md-8">
            </div>

            <div class="control-label col-md-2" style="text-align: center;">
                <button class="form-control" type="submit" name="btnConfirm" value="finComp">Finalizar Compra</button>
            </div>
        </div>
    </form>
</div>
        {% endblock %}
