{% extends "layout.html" %}

{% block content %}

<div class="app-title">
    <div>
        <h1><i class="fa fa-shopping-cart"></i> Carrinho</h1>
        <p>Listagem dos produtos adicionados ao carrinho de compras</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('.home')}}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Carrinho</a></li>
    </ul>
</div>

    {% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{message[0]}}" role="alert">{{ message[1] }}</div>
          {% endfor %}

<div class="tile">
    {% for row in produtos %}
    <div class="control-label col-md-12">
        <div class="card">
            <div class="card-header">
                {{row[1]}} - Personagem: {{row[6]}}
                <a href="/removerCarrinho?idProduto={{row[0]}}&OBS={{row[6]}}" style="float: right;">Remover item</a>
            </div>
            <div class="card-body">
                <label class="card-text">Valor individual: R${{row[2]}}</label>

                <div class="input-group-prepend" style="float: right;">
                    <span class="input-group-text">Total deste item</span>
                    <span class="input-group-text">R$ {{row[5]}}</span>
                </div>
                <br>
                <form style="display: inline" method="POST">
                    <label class="card-text">Quantidade no carrinho: </label> &nbsp; <input name="idProdAtt" type="hidden" value="{{row[0]}}"><input name="OBSAtt" type="hidden" value="{{row[6]}}"> <input name="newQTD" style="width: 5%;text-align: right;" value="{{row[4]}}">&nbsp;&nbsp;<button style="background-color: #2196f3; border: none; border-radius: 25%;" title="Atualizar" name="btnFunc" value="attCart"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </form>
                <p class="card-text"></p>

            </div>
        </div>
    </div>
    <br>
    {% else %}
    <div class="alert alert-warning" role="alert">Você não possui produtos no carrinho :(</div>
    {% endfor %}

    {% if precoTotal != "0.00" %}
    <div class="control-label col-md-12">


        <div class="input-group-prepend">
            <div class="control-label col-md-2">
                <span class="input-group-text">Total R$ {{precoTotal}}</span>
            </div>

            <div class="control-label col-md-8">
            </div>

            <div class="control-label col-md-2" style="text-align: center;">
                <a href="{{url_for('.checkout')}}" class="form-control">Finalizar compra</a>
            </div>

        </div>
    </div>
    {% endif %}
</div>
        {% endblock %}
